- content_for :fb do
  = render :partial => "facebook"
.box
  -if @user
    .top
      .left.pull-left{:style => "height: 100%;"}
        %img.user-pic{:src => @user.picture}
      .mid.pull-left
        %h3 Hey #{@user.fname}!
        %p
          #{@user.email} | #{@user.college} #{@user.year}&nbsp;| 
          %span#major{:contentEditable => true} #{@user.major}
          %span (click to edit)
          | Points: 
          %strong= @user.points
          %a.small#points{:href=>"#"} What's this?
      .right.pull-right
        -#%img.block{:src => "/assets/yale.jpg", :width => "100px", :height => "30px"}
        .btn-group
          %a.btn.btn-mini.dropdown-toggle{:href => "#", "data-toggle"=>"dropdown"} 
            Help
            %span.caret
          %ul#help-dropdown.dropdown-menu
            %li 
              %a{:href => "#"} Privacy
            %li
              %a{:href => "#"} Terms of Use
          %a.btn.btn-mini.btn-inverse{:href => "/hiatus", "data-remote" => "true"} Toggle hiatus status&nbsp;
          %a.btn.btn-danger.btn-mini{:href => "/logout"} Logout

  = render :partial => "alerts"

  %h3.header The Meal Tag

  - if @user.hiatus
    #match.h
      = render :partial => "users/hiatus"
  - elsif not @user.match
    #match.um
      = render :partial => "users/unmatched"
  - else
    #match.m
      // Temporarily making the match the user itself (for style)
      = render :partial => "users/match"

  #history
    = render :partial => "history"


  .rule
  #leaderboard
    %h3.header Leaderboard
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %td Place
          %td Name
          %td College / Year
          %td Points
      %tbody
        - i = 0
        - @leaders.each do |l|
          - i+=1
          %tr
            %td
              %strong= i
            %td= l.name
            %td= "#{l.college} #{l.year}"
            %td= l.points

-#
  -# Table with top 5, plus your rank
  %h3 Search by interest
  :plain
    <select data-placeholder="Choose an interest" style="width:350px;" multiple class="chzn-select"">

      <option></option>
      <option value="FOOT">FOOT</option>
      <option value="Club Soccer">Club Soccer</option>
      <option value="Magic">Magic</option>
      <option value="Weed">Weed</option>
      <option value="Mamouns">Mamouns</option>
    </select>
    <br/>
  -# 
  -if @user 
    - likes = @user.likes
    - if likes.empty?
      %span.tiny It seems like you have no likes on Facebook. If this isn't the case, that means you've logged out of our app--please log out and log back in.
    - else
      - @user.likes.each do |like|
        %span.tiny #{like["name"]} => #{like["category"]}
  -else 
    %p Log into facebook to see interests

  .tiny 
    %p
      FB token
      %span#fbtoken
        - if @user.fbtoken 
          #{@user.fbtoken}
        - else
          no fb token
    %p
      FB ID
      %span#fbid
        - if @user.fbid 
          #{@user.fbid }
        - else
          no fb id
    %p
      seconds left
      %span#fbtime

= render :partial => "fb_modal"
