- content_for :fb do
  = render :partial => "facebook"
.box
  -if @user
    .top
      .left.pull-left{:style => "height: 100%;"}
        %img.user-pic{:src => @user.picture}
      .mid.pull-left
        %h3 Hey #{@user.fname}!
        %p
          #{@user.email} | #{@user.college} #{@user.year}&nbsp;| 
          %span#major{:contentEditable => true} #{@user.major}
          %span (click to edit)
      .right.pull-right
        -#%img.block{:src => "/assets/yale.jpg", :width => "100px", :height => "30px"}
        .btn-group
          %a.btn.btn-mini.dropdown-toggle{:href => "#", "data-toggle"=>"dropdown"} 
            Help
            %span.caret
          %ul.dropdown-menu
            %li 
              %a{:href => "#"} Privacy
            %li
              %a{:href => "#"} Terms of Use
          %a.btn.btn-mini.btn-inverse{:href => "/hiatus", "data-remote" => "true"} Go on hiatus&nbsp;
          %a.btn.btn-danger.btn-mini{:href => "/logout"} Logout

  - if(flash[:error])
    .alert.alert-error.fade.in
      %a.close{"data-dismiss" => "alert"} &times;
      %span#error= flash[:error]
  - else
    .alert.alert-error.fade.in.hide
      %a.close{"data-dismiss" => "alert"} &times;
      %span#error
  - if(flash[:success])
    .alert.alert-success.fade.in
      %a.close{"data-dismiss" => "alert"} &times;
      %span#success= flash[:success]
  - else
    .alert.alert-success.fade.in.hide
      %a.close{"data-dismiss" => "alert"} &times;
      %span#success
  %h3 The Meal Tag

  - if @user.hiatus
    #match.h
      = render :partial => "users/hiatus"
  - elsif not @user.matched
    #match.um
      = render :partial => "users/unmatched"
  - else
    #match.m
      // Temporarily making the match the user itself (for style)
      = render :partial => "users/match", :locals => {:m => @match}

  #history
    %h5 Your history
    -# Table with all your meals and pictures
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %td Name
          %td Date
          %td Picture
      %tbody
        -# @user.past_meals do |meal|
        %tr
          %td Someone
          %td Sometime
          %td
            %img{:src => @user.picture, :alt => "No picture"}
        %tr
          %td Someone
          %td Sometime
          %td
            %img{:src => @user.picture, :alt => "No picture"}

    .rule
  #leaderboard
    %h5 Leaderboard
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %td Name
          %td College / Year
          %td Points
      %tbody
        -# @user.past_meals do |meal|
        %tr
          %td Someone
          %td PC 2015
          %td 30
        %tr
          %td Someone
          %td TD 2014
          %td 30

  -# Table with top 5, plus your rank
  %h3 Search by interest
  :plain
    <select data-placeholder="Choose an interest" style="width:350px;" multiple class="chzn-select"">

      <option></option>
      <option value="FOOT">FOOT</option>
      <option value="Club Soccer">Club Soccer</option>
      <option value="Magic">Magic</option>
      <option value="Weed">Weed</option>
      <option value="Mamouns">Mamouns</option>
    </select>
    <br/>
  -# 
  -if @user 
    - likes = @user.likes
    - if likes.empty?
      %span.tiny It seems like you have no likes on Facebook. If this isn't the case, that means you've logged out of our app--please log out and log back in.
    - else
      - @user.likes.each do |like|
        %span.tiny #{like["name"]} => #{like["category"]}
  -else 
    %p Log into facebook to see interests

  - if ENV["RAILS_ENV"] == "development"
    - url = "http://localhost.com:3000"
  - else
    - url = "http://yaleconnect.heroku.com"

  .tiny 
    %p
      FB token
      %span#fbtoken
        - if @user.fbtoken 
          #{@user.fbtoken}
        - else
          no fb token
    %p
      FB ID
      %span#fbid
        - if @user.fbid 
          #{@user.fbid }
        - else
          no fb id
    %p
      seconds left
      %span#fbtime

  #fbmodal.modal.hide.fade.in
    .modal-header
      %h2 Just one more step!
    .modal-body
      Logging in with Facebook will make your Yale Connect experience exponentially better!
      %a#fbtooltip{:href => "#"} how? 
      #fblogin
        :erb 
          <fb:login-button show-faces="false" max-rows="1" scope="user_about_me, user_interests, user_hometown, user_likes" registration-uri="<%= url %>" size="large" onlogin="window.location.href='/';">
            Yay! I love exponents!
          </fb:login-button>
        %br
        %br
        %a{:href => "#", "data-dismiss"=>"modal"} Skip for now =>