- content_for :fb do
  = render :partial => "facebook"
.box
  -if @user
    .top
      .left.pull-left{:style => "height: 100%;"}
        %img.user-pic{:src => @user.picture}
      .mid.pull-left
        %h3 Hey #{@user.fname}!
        .small
          #{@user.email} | #{@user.college} #{@user.year}&nbsp;| 
          %span#major{:contentEditable => true} #{@user.major}
          %span.tiny (click to edit)
      .right.pull-right
        %img.block{:src => "/assets/yale.jpg", :width => "100px", :height => "30px"}
        .btn-group
          %a.btn.btn-mini.dropdown-toggle{:href => "#", "data-toggle"=>"dropdown"} 
            Settings
            %span.caret
          %ul.dropdown-menu
            %li 
              %a{:href => "#"} Privacy
            %li
              %a{:href => "#"} Terms of Use
        %a.btn.btn-danger.btn-mini{:href => "/logout"} Logout

  - if(flash[:error])
    .alert.alert-error.fade.in
      %a.close{"data-dismiss" => "alert"} &times;
      %span#error= flash[:error]
  - else
    .alert.alert-error.fade.in.hide
      %a.close{"data-dismiss" => "alert"} &times;
      %span#error
  - if(flash[:success])
    .alert.alert-success.fade.in
      %a.close{"data-dismiss" => "alert"} &times;
      %span#success= flash[:success]
  - else
    .alert.alert-success.fade.in.hide
      %a.close{"data-dismiss" => "alert"} &times;
      %span#success
  %h3 The Meal Tag
  -# if active
  %p 
    Get paired with a random Yalie, and grab a meal with them!
    %a.btn.btn-primary{:href => "/pair"} Go!

  -# else
  = render :partial => "users/match", :locals => {:m => @user}

  %h3 Search by interest
  :plain
    <select data-placeholder="Choose an interest" style="width:350px;" multiple class="chzn-select"">

      <option></option>
      <option value="FOOT">FOOT</option>
      <option value="Club Soccer">Club Soccer</option>
      <option value="Magic">Magic</option>
      <option value="Weed">Weed</option>
      <option value="Mamouns">Mamouns</option>
    </select>
  -# 
    %h3 Your interests
    -if @user 
      - likes = @user.likes
      - if likes.empty?
        %p It seems like you have no likes on Facebook. If this isn't the case, that means you've logged out of our app--please log out and log back in.
      - else
        - @user.likes.each do |like|
          %p #{like["name"]} => #{like["category"]}
  -else 
    %p Log into facebook to see interests

  - if ENV["RAILS_ENV"] == "development"
    - url = "http://localhost.com:3000"
  - else
    - url = "http://yaleconnect.heroku.com"

  .tiny 
    %p
      FB token
      %span#fbtoken no token
    %p
      FB ID
      %span#fbid no facebook id
    %p
      seconds left
      %span#fbtime

  #fbmodal.modal.hide.fade.in
    .modal-header
      %h2 Just one more step!
    .modal-body
      Logging in with Facebook will make your Yale Connect experience exponentially better!
      %a#fbtooltip{:href => "#"} how? 
      #fblogin
        :erb 
          <fb:login-button show-faces="false" max-rows="1" scope="user_about_me, user_interests, user_hometown, user_likes" registration-uri="<%= url %>" size="large" onlogin="window.location.href='/';">
            Yay! I love exponents!
          </fb:login-button>
        %br
        %br
        %a{:href => "#", "data-dismiss"=>"modal"} Skip for now =>