%h4 Your current match:
%img.user-pic{:src => @match.picture}
%p 
  #{@match.name}&nbsp;| 
  %a{:href => "mailto:#{@user.email}"} #{@match.email} 
  | #{@match.college} #{@match.year}
= form_tag("/done", :multipart => true)
= hidden_field_tag "partner", @match.id
%p An image of your encounter (for a bonus point!):
= file_field_tag "image", :accept => 'image/png,image/gif,image/jpeg,image/jpg', :style => "margin-left: 65px;"
= submit_tag "We're done!", :class => "btn btn-success btn-large m"



-#%form{:action => "/done", :method => "post"}
-# %input{:type => "hidden", :name => "partner", :value => "partner_id"} 
-# %input.btn.btn-success{:type => "submit", :value => "We're done!"} 