<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Yale Connect</title>
  <link href='http://fonts.googleapis.com/css?family=Mako|Lato:100,400|Open+Sans:400,300' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta property="og:title" content="Yale Connect" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://yaleconnect.heroku.com" />
  <meta property="og:image" content="http://screwmeyale.com/assets/favicon.ico" />
  <meta property="og:site_name" content="Yale connect" />
  <meta property="og:description" content="Meet all those people who go to school with and never knew shared your love for...[anything, really]" />
  <meta property="fb:admins" content="651881494" />

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31550913-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : "<%= ENV['fbkey'] %>", // App ID
        //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      FB.Event.subscribe('auth.statusChange', function(response) {
        if(response.status === "connected") {
          var o = response.authResponse;
          $.post("/facebook", {
            fbtoken: o.accessToken,
            fbid: o.userID
          });
          
          $("#fbtoken").html(o.accessToken)
          $("#fbid").html(o.userID)
          $("#fbtime").html(o.expiresIn)
        }
        else {
          $("#fbmodal").modal({
            keyboard: false,
            backdrop: "static"
          })
        }
      })
    };
    // Load the SDK Asynchronously
    (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
     }(document));
  </script>


  <!-- Container -->
  <div class="contain">
    <%= yield %>
  </div>
</body>
</html>
